<ul class="actions">
	<li><b>Trazos</b></li>
	<li><%= link_to 'Nuevo', 'javascript:void(0);', "data-form" => "new-path", :id => "new-path-field", :class => "highlighted edit-field" %></li> 
</ul>

<%= render 'admin/paths/new' %>

<div class="table">
	<div class="section">Trazos no asignados a este recorrido (<%= @trip_unassigned_paths.count %>)</div>
	<% @trip_unassigned_paths.each do |path| %>
		<%= render partial: 'admin/paths/path', object: path, locals: { assignable: true } %>
	<% end %>
	<div class="highlighted">
		<div class="section highlighted">Trazos asignados a este recorrido (<%= @trip_assigned_paths.count %>)</div>
		<% @trip_assigned_paths.each do |path| %>
			<%= render partial: 'admin/paths/path', object: path, locals: { assignable: false } %>
		<% end %>
	</div>
</div>