<div class="container">
	<div id="phone-carousel" class="owl-carousel owl-theme">
		<div class="item">
			<%= image_tag('first-pic.png') %>
		</div>
		<div class="item">
			<%= image_tag('second-pic.png') %>
		</div>
		<div class="item">
			<%= image_tag('third-pic.png') %>
		</div>
		<div class="item">
			<%= image_tag('fourth-pic.png') %>
		</div>
		<div class="item">
			<%= image_tag('fifth-pic.png') %>
		</div>
		<div class="item">
			<%= image_tag('sixth-pic.png') %>
		</div>
		<div class="item">
			<%= image_tag('seventh-pic.png') %>
		</div>
	</div>
	<div class="content">
		<%= image_tag('voolta-logo.png', :class => "logo") %>
		<h1>Los mejores recorridos para explorar la ciudad en <span>bici</span> o <span>caminando</span></h1>
		
		<%= image_tag('soon-appstore.png', :class => "appstore") %>
		
		<div class="showcase">
			<p class="title">Algo de lo que encontrarás en Voolta:</p>
			<div id="showcase-carousel" class="trips owl-carousel owl-theme">
				<div class="item right-sided">
					<p>El mejor <span class="venue">restaurante</span> de tamales gourmet en el sur de la ciudad</p>
					<%= image_tag('food-icon.png', :class => 'rotate-minus-5') %>
				</div>
				<div class="item left-sided">
					<%= image_tag('cinema-icon.png', :class => 'rotate-5') %>
					<p>Un <span class="venue">cine</span> <span class="emph">#VooltaBikefriendly</span> en la colonia más hipster de la ciudad</p>
				</div>
				<div class="item right-sided">
					<p>Un <span class="venue">recorrido</span> por las casas de terror de la ciudad - <span class="emph">#VooltaTematica</span></p>
					<%= image_tag('monster-icon.png', :class => 'rotate-minus-5') %>
				</div>
				<div class="item left-sided">
					<%= image_tag('food-icon.png', :class => 'rotate-5') %>
					<p>El mejor <span class="venue">restaurante</span> de cochinita pibil <span class="emph">#VooltaBikefriendly</span> en la Colonia Condesa </p>
				</div>
				<div class="item right-sided">
					<p>Más de un <span class="venue">recorrido</span> que pasa por el <span class="venue">Bosque</span> de Chapultepec</p>
					<%= image_tag('forest-icon.png') %>
				</div>
				<div class="item left-sided">
					<%= image_tag('museum-icon.png') %>
					<p>Un <span class="venue">recorrido</span> que te lleva al <span class="venue">Museo</span> Universitario de Arte Contemporáneo</p>
				</div>
				<div class="item right-sided">
					<p>Un espacio para el <span class="venue">arte</span> en una reserva natural al sur de la ciudad</p>
					<%= image_tag('art-icon.png', :class => 'rotate-minus-5') %>
				</div>
				<div class="item left-sided">
					<%= image_tag('museum-icon.png') %>
					<p>Eventos y exposiciones en el <span class="venue">Museo</span> de Arte Moderno</p>
				</div>
				<div class="item right-sided">
					<p>Un <span class="venue">Recorrido</span> por los majestuosos cines del ayer - <span class="emph">#VooltaTematica</span></p>
					<%= image_tag('building-icon.png', :class => 'icon rotate-minus-5') %>
				</div>
				<div class="item left-sided">
					<%= image_tag('cafe-icon.png', :class => 'icon rotate-5') %>
					<p>Un <span class="venue">café</span> <span class="emph">#VooltaBikefriendly</span> muy especial en la Colonia Roma</p>
				</div>
				<div class="item right-sided">
					<p>Un <span class="venue">recorrido</span> nocturno por los mejores sitios para bailar salsa</p>
					<%= image_tag('disco-icon.png', :class => 'icon rotate-minus-5') %>
				</div>
				<div class="item left-sided">
					<%= image_tag('route-icon.png', :class => 'icon rotate-5') %>
					<p>Un <span class="venue">Recorrido</span> por la Santa María la Ribera</p>
				</div>
				<div class="item right-sided">
					<p>Una <span class="venue">galería</span> muy mexicana en el corazón del Centro Histórico</p>
					<%= image_tag('shop-icon.png', :class => 'icon rotate-minus-5') %>
				</div>
				<div class="item left-sided">
					<%= image_tag('park-icon.png') %>
					<p>Un <span class="venue">Recorrido</span> por la zona de canales - <span class="emph">#VooltaTematica</span></p>
				</div>
				<div class="item right-sided">
					<p>La mejor <span class="venue">postrería</span> del centro de la ciudad que además es <span class="emph">#VooltaBikefriendly</span></p>
					<%= image_tag('bakery-icon.png', :class => 'rotate-minus-5') %>
				</div>
				<div class="item left-sided">
					<%= image_tag('ice-icon.png', :class => 'rotate-5') %>
					<p>Una de las <span class="venue">heladerías</span> con más historia en la ciudad</p>
				</div>
			</div>
		</div>

		<ul class="share">
			<li><%= image_tag('facebook-icon.png') %><span><%= link_to 'facebook.com/VooltaApp', 'http://facebook.com/VooltaApp', target: "_blank" %></span></li>
			<li><%= image_tag('twitter-icon.png') %><span><%= link_to '@VooltaApp', 'http://twitter.com/VooltaApp', target: "_blank" %></span></li>
		</ul>
	</div>
</div>