<h2>Recorridos</h2>

<%= link_to 'Añadir Categoría de Recorrido', 'admin/trip_resource/new' %>

<% @trip_resources.each do |trip_resource| %>
	<div id="trip-<%= trip_resource.id %>" class="card">
		<div class="header">
			<p class="title"><b><%= trip_resource.identifier %></b></p>		
		</div>
		<% trip_resource.trips.each do |trip| %>
			<ul class="actions">
				<li><b><%= link_to "#{trip.title} - #{trip.lang}", trips_admin_path(trip) %></b></li>
				<li><%= link_to "Clonar", duplicate_trips_admin_path(trip), confirm: '¿Deseas clonar este recorrido?'  %></li>
				<li><%= link_to "Eliminar", delete_trips_admin_path(trip), :method => :delete, confirm: '¿Deseas eliminar este recorrido?' %></li>
				<li><%= link_to "Eliminar Completamente", delete_hard_trips_admin_path(trip), :method => :delete, confirm: '¿Deseas eliminar completamente este recorrido?' %></li>
			</ul>
		<% end %>
	</div>
<% end %>