<%= render partial: 'admin/shared/notifications' %>

<div class="centered">
	<h2>Detalles del recorrido</h2>
</div>

<div class="card">
	<ul class="actions">
		<li><%= link_to 'Atrás', '/trips-admin' %></li>
	</ul>
	
	<div class="header">
		<div class="title half-size">
			<h3 id="title-and-lang-field" class="hoverable edit-field" data-form="title-and-lang"><%= @trip.title %> - <%= @trip.lang %></h3> 
			<%= render 'admin/trips/fields/title_and_lang' %>
		</div>
		<div class="creator half-size">
			<p id="creator-info-field" class="hoverable edit-field" data-form="creator-info"><b>por </b> <%= @trip.user.full_name %></p>
			<%= render 'admin/trips/fields/creator_info' %>
		</div>
	</div>
	
	<div class="sub-header">
		<div id="map" class="for-trip"></div>
		<div class="coordinates">
			<div class="toggler">
				<%= link_to 'Editar coordenadas', 'javascript:void(0)', :class => 'edit-field', id: 'coordinates-field', 'data-form' => 'coordinates' %>
			</div>
			<%= render 'admin/trips/fields/coordinates' %>
		</div>
	</div>
	
	<div id="details-field" class="details hoverable edit-field" data-form="details"><%= @trip.details %></div>
	<%= render 'admin/trips/fields/details' %>

	<div class="table">
		<div class="section">Características</div>
		<div id="distance-field" class="row hoverable edit-field" data-form="distance">
			<div class="section-title">Distancia</div>
			<div class="section-details"><%= @trip.distance %></div>
		</div>
		<%= render 'admin/trips/fields/distance' %>
		
		<div id="complexity-field" class="row hoverable edit-field" data-form="complexity">
			<div class="section-title">Complejidad</div>
			<div class="section-details"><%= @trip.complexity %></div>
		</div>
		<%= render 'admin/trips/fields/complexity' %>
		
		<div id="background-field" class="row hoverable edit-field" data-form="background">
			<div class="section-title">Fondo para el recorrido</div>
			<div class="section-details"><%= @trip.background_image.name %></div>
		</div>
		<%= render 'admin/trips/fields/background' %>
		
		<div id="main-image-field" class="row hoverable edit-field" data-form="main-image">
			<div class="section-title">Imagen de Portada</div>
			<div class="section-details"><%= @trip.main_image.name %></div>
		</div>
		<%= render 'admin/trips/fields/main_image' %>
		
		<div class="section">Estado en AppStore</div>
		
		<div id="cost-field" class="row hoverable edit-field" data-form="cost">
			<div class="section-title">Costo (Descontinuado)</div>
			<div class="section-details"><%= @trip.cost %> MXN</div>
		</div>
		<%= render 'admin/trips/fields/cost' %>
		
		<div id="published-field" class="row hoverable edit-field" data-form="published">
			<div class="section-title">¿Es visible en la app?</div>
			<div class="section-details"><%=  t('options')[@trip.staging] %></div>
		</div>
		<%= render 'admin/trips/fields/published' %>
		
		<div id="lite-version-field" class="row hoverable edit-field" data-form="lite-version">
			<div class="section-title">Disponible en version lite</div>
			<div class="section-details"><%= t('options')[@trip.published_on_lite_version] %></div>
		</div>
		<%= render 'admin/trips/fields/lite_version' %>
		
		<div id="available-field" class="row hoverable edit-field" data-form="available">
			<div class="section-title">Publicada y Disponible</div>
			<div class="section-details"><%= t('options')[@trip.available] %></div>
		</div>
		<%= render 'admin/trips/fields/available' %>
		
	</div>
</div>

<div class="card">
	<%= render partial: 'admin/contents/list', locals: { owner_object: @trip, owner_object_type: :trip } %>
</div>

<div class="card">
	<%= render partial: 'admin/paths/list', locals: { trip: @trip } %>	
</div>

<div class="card">
	<%= render partial: 'admin/pois/list', locals: { trip: @trip } %>
</div>